.wrapper {
    float: left;
    width: 100%;
    position: relative;
}

.content {
    float: left;
    width: 100%;
}

.single {
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
    padding: 10px;
    width: calc(100% - 20px);
}

.favorite {
    padding: 0.3em 1.2em;
    margin-left: 2em;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    font-weight: bold !important;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: #4e9af1;
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    outline: none;
    transition: all 0.2s;
}

.favorite:hover {
    border-color: rgba(255, 255, 255, 1);
}

.favorite-color {
    background-color: #0fbb65 !important;
}

.trailer {
    float: left;
    width: calc(100% - 20px);
    margin: 20px 0;
    background-color: #202020;
    padding: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.trailer-frame {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 35%;
    padding-top: 25px;
    height: 0;
}

.trailer-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.movie {
    float: left;
    width: calc(100% - 20px);
    background-color: #202020;
    padding: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.margin-genre {
    margin-top: 15px;
}

.movie img {
    float: left;
}

.movie ul {
    float: left;
    margin: 0 20px;
    width: calc(100% - 590px);
    padding:0;
}

.movie ul li {
    float: left;
    display: block;
    clear: both;
    color: #fff;
    padding: 0 0 10px 0;
    line-height: 1.4;
    font-size: 18px;
}

.movie ul li:first-child {
    font-weight: bold;
    font-size: 22px;
}

.movie ul li p {
    color: #82caf3;
    text-decoration: none;
}

.movie ul li p span {
    color: #f3de82;
    text-decoration: none;
}

@media all and (max-width: 1024px) {
    .movie ul {
        width: 60%;
    }
}

@media all and (max-width: 823px) {
    .movie ul {
        width: 50%;
    }
}

@media all and (max-width: 768px) {
    .movie ul {
        width: 40%;
    }
}

@media all and (max-width: 540px) {
    .movie img {
        float: none;
        max-width: 100px;
        width: 100%;
    }

    .movie {
        text-align: center;
    }

    .movie ul {
        float: none;
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .movie ul li {
        float: none;
    }
}